.header {
}

.newPostMessage {
    margin-top: 10px;
}

.postTitleContainer, .postContentContainer {
    margin-top: 20px;
}

.postTitleHeader, .postContentHeader {
    margin-bottom: 5px;
}

.categories {
}
