.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container h1 {
  margin-bottom: 80px;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.cardContainerStyle {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.individualCardStyle {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  padding: 10px;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.individualCardStyle:hover {
  background-color: #f5f5f5;
}

.individualCardStyle p {
  font-weight: bold;
  transition: text-decoration 0.3s ease; /* Smooth transition for the underline effect */
}

.individualCardStyle:hover p {
  text-decoration: underline;
}

@media (min-width: 480px) {
  .container h1 {
    margin-bottom: 40px;
  }

  .cardContainerStyle {
    flex-direction: row;
    justify-content: space-between;
  }

  .individualCardStyle {
    width: 30%;
  }
}
