/* ticketManagement.module.css */

/* Define a local class as a "pure" selector */
.ticketManagement {
    /* Add styles specific to the ticket management page */
  }
  
  /* Define styles for your cards */
  .card {
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .cardImage {
    width: 100%;
    height: auto;
  }
  
  .cardContent {
    padding: 16px;
  }
  
  .cardContent h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .cardContent p {
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .cardContent a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
    display: block;
  }


.cardSpacer {
  margin-right: 100px; /* Adjust the margin-right value to control spacing */
}

  
  