.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  max-width: 1150px;
  gap: 20px;
  max-height: 790px;
  overflow-y: auto;
}

.headerTitle {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.dataViewContainer {
  width: 100%;
}

.card {
  background-color: #e0ecee;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #e0ecee;
  margin-bottom: 10px;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.cardHeader {
  border-bottom: 1px solid #e0ecee;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-family: 'Arial', sans-serif;
  justify-content: center;
}

.cardBody {
  font-size: 1em;
  color: #555;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.cardFooter {
  margin-top: 25px;
  text-align: right;
}

.cardFooter button {
  background-color: #e29578;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cardFooter button:hover {
  background-color: #e2947888;
}

.buttonSpacing {
  margin-right: 15px;
}

.cardDialog {
  background-color: #e0ecee;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #e0ecee;
  width: 70vw;
  max-width: 1250px;
}

@media (max-width: 768px) {
  /* Tablet breakpoint */
  .card {
    flex-direction: column;
  }

  .cardRow {
    flex-direction: column;
    text-align: center;
  }

  .cardRow span:first-child {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  /* Mobile breakpoint */
  .cardRow {
    flex-direction: column;
  }

  .cardRow span {
    text-align: center;
    margin-bottom: 15px;
  }
  .buttonSpacing {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
