.cardBody {
  font-family: 'Arial', sans-serif;
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.cardRow label {
  font-size: 16px;
  margin-right: 20px;
}

.cardRow input.p-inputtext {
  flex: 0.2;
  padding: 12px 10px;
  font-size: 1em;
  width: 100%;
}

.cardRow .p-editor-container {
  flex: 0.2;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.cardRow .p-editor-content {
  height: 270px;
  white-space: normal;
  overflow-wrap: break-word;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.cardFooter button {
  background-color: #e29578;
  border: none;
  border-radius: 5px;
  color: #edf6f9;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
