.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 2rem;
  width: 100%;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.saveButton,
.createButton,
.rejectButton,
.backButton {
  border: none !important;
  color: white !important;
  transition: all 0.3s !important;
  margin-right: 30px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  ) !important;
}

.saveButton {
  background-color: #006d77 !important;
}

.createButton {
  background-color: #e29578 !important;
}

.backButton {
  background-color: #007bff !important;
}

.rejectButton {
  background-color: #ff0000 !important;
}

.my-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.my-card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

/* .my-card-content {
  font-size: 1rem;
} */

.my-card .p-card-title {
  margin-bottom: 0;
}

.my-card .pCardContent {
  padding-top: 0.5rem;
}

.my-card .p-card-content strong {
  display: block !important;
  margin-top: 10px;
  margin-bottom: 1rem !important;
  font-size: 1.1em;
  color: #333;
}

.my-card .p-card-content p {
  line-height: 1.5 !important;
  margin-bottom: 2rem !important;
  color: #555;
}

.fieldLabel {
  margin-bottom: 8px; /* adjust as needed */
}

.fieldContent {
  margin-bottom: 24px; /* adjust as needed to get the desired spacing between fields */
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px; /* Adjust margin as needed */
  margin-bottom: 25px; /* Adjust margin as needed */
}

.companyInfo {
  display: flex;
  align-items: center; /* Align items vertically in the middle */
  /* margin-bottom: 16px; */
}

.contact-info p {
  margin-bottom: 0; /* Adjust the margin as needed to reduce the space */
}

.second-p {
  margin-bottom: 0; /* Removes margin for the second <p> element */
}

.company-details {
  display: flex;
  align-items: center;
}

.cardDialog {
  width: 90vw;
  max-width: 600px;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column; /* Stack the buttons vertically */
    gap: 1rem; /* Spacing between buttons */
    align-items: center; /* Center the buttons */
  }

  .saveButton,
  .createButton,
  .rejectButton,
  .backButton {
    margin-right: 0;
    width: 100%; /* Makes buttons full width for easier touch access */
    max-width: 300px; /* Limit the button width for aesthetics */
  }

  .company-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  .my-card {
    padding: 0.5rem;
  }

  .avatar {
    width: 25px;
    height: 25px;
  }

  .company-details p {
    font-size: 0.9rem; /* You can adjust this if you feel it's too small */
  }

  /* Increase the font-size slightly for readability */
  .my-card .p-card-content p {
    font-size: 1.1rem;
  }
}
