.commentContainer {
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    min-height: 15vh;
}

.commentMsgCard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
}

.commentAndDateTimeSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 2%;
}

.commentTimeStamp {
    
}

.userProfilePhoto {
    border-radius: 50%;
    object-fit: cover;
}

.userSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8%;
}

@media (max-width: 768px) {
  
}
