.container {
  display: flex; /* Enable flexbox */
  flex-wrap: wrap; /* Allow the items to wrap to the next line */
  justify-content: center; /* Center the cards horizontally */
  width: 1050px;
  gap: 15px; /* Provide consistent gap between the cards. This will replace the margin if supported */
}

.card {
  background-color: #edf6f9;
  padding: 10px;
  width: 205px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #edf6f9;
  max-width: 100%;
  margin-left: 10px; /* half of desired space */
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  border-bottom: 1px solid #edf6f9;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-family: 'Arial', sans-serif;
  justify-content: center;
}

.cardHeader h4 {
  font-size: 1.6em;
  margin: 0;
  color: #333;
  font-weight: 600;
}

.cardBody {
  font-size: 1em;
  color: #555;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.cardRow:last-child {
  margin-bottom: 0;
}

.cardRow span:first-child {
  font-weight: 600;
}

.cardFooter {
  margin-top: 20px;
  text-align: right;
}

.cardFooter button {
  background-color: #e29578;
  border: none;
  border-radius: 5px;
  color: #edf6f9;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cardFooter button:hover {
  background-color: #e2947888; /* Darker shade of colour on hover */
}

.buttonSpacing {
  margin-right: 20px;
}

.cardDialog {
  background-color: #edf6f9;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #edf6f9;
  width: 70vw;
  max-width: 1250px;
}

@media (max-width: 480px) {
  /* Typical breakpoint for mobile phones */

  .card {
    margin-left: 0;
    margin-right: 0;
  }
  .cardRow {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .cardRow span {
    margin-bottom: 5px; /* Spacing between stacked items */
  }

  .buttonSpacing {
    margin-right: 0; /* Remove margin for smallest screens */
    margin-bottom: 20px; /* Add vertical spacing between buttons */
  }
}
