.heading {
  position: absolute;
  top: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.mainTable {
  position: absolute;
  top: 25vh;
  height: 65%;
  width: 92%;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandCollapseHeader {
  display: flex;
  justify-content: flex-end;
}

.badge {
  margin: 15px 0px 15px 0px;
}

.mainTableRow {
  background-color: grey;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.paymentButton {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100px;
}

.makePaymentButton {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 150px;
}

.dialogConfirmation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stripeHeader {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.stripePayment {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 25px;
}
