.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header .p-input-icon-left input.p-inputtext {
  width: 250px;
}

.container {
  display: flex;
  height: 100vh;
}

.companyInfo {
  display: flex;
  align-items: center; /* Align items vertically in the middle */
  /* margin-bottom: 16px; */
}

.reviewText {
  text-decoration: underline;
}

.review {
  margin-bottom: 15px;
}

.listingsPanel {
  flex: 1;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
  padding: 15px;
}

.detailsPanel {
  flex: 2;
  padding: 15px;
}

.listingItem {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.listingItem:hover {
  background-color: #f5f5f5;
}

.listingItem h3 {
  margin-bottom: 20px;
}

.listingItem p,
.listingItem strong {
  margin-bottom: 15px;
  line-height: 1.5;
}

.jobDetailPanel {
  padding: 15px;
  overflow-y: auto;
}

.jobDetailPanel h2 {
  margin-bottom: 30px; /* space under the title */
}

.jobDetailPanel p {
  margin-bottom: 20px; /* space between paragraphs */
  line-height: 1.5; /* adjust as required for line-height within paragraphs */
}

.my-card .pCardContent {
  padding-top: 0.5rem;
}

.spinnerContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 25px;
}

.savedJobsButton {
  margin-left: 20px;
  border: #006d77;
  background-color: #006d77;
  color: #edf6f9;
}

.saveButton {
  border: none !important;
  color: #006d77 !important;
  transition: all 0.3s !important;
  margin-right: 0;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  ) !important;
}

.saveButton {
  background-color: #edf6f9 !important;
}

.createButton {
  background-color: #35acfe !important;
  color: white;
  border: none !important;
  margin-right: 20px;
}

.rejectButton {
  background-color: #eaeaea !important;
  color: black;
  border: none !important;
}

.relativePosition {
  position: relative;
}

.absoluteTopRight {
  position: absolute;
  top: 10px;
  right: 10px;
}

.titleWithSaveButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createDialog {
  max-width: 50vw;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h2.p-input-icon-left {
    margin-top: 20px;
  }

  .savedJobsButton {
    margin-top: 10px;
  }

  .p-input-icon-left input {
    width: 100%;
  }

  .cardDialog {
    height: 80%;
  }

  .createButton {
    margin-bottom: 5%;
  }
}

@media (max-width: 480px) {
  .avatar {
    width: 25px;
    height: 25px;
  }

  .company-details p {
    font-size: 0.9rem; /* You can adjust this if you feel it's too small */
  }
}
