.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header .p-input-icon-left input.p-inputtext {
  width: 250px;
}

.container {
  display: flex;
  height: 100vh;
}

.jobDetailPanel {
  padding: 15px;
}

.companyInfo {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items vertically in the middle */
}

.jobHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.listingsPanel {
  flex: 1;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
  padding: 15px;
}

.detailsPanel {
  flex: 2;
  padding: 15px;
}

.listingItem {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.listingItem:hover {
  background-color: #f5f5f5;
}

.listingItem h3 {
  margin-bottom: 20px;
}

.listingItem p,
.listingItem strong {
  margin-bottom: 15px;
  line-height: 1.5;
}

.jobDetailContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px; /* Add padding for spacing */
  border-radius: 20px;
  border: 1px solid #ccc; /* Add a border for separation */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add the box shadow */
  margin-bottom: 20px;
}

.titleContainer {
  color: black;
  font-weight: bold; /* Make the titles bold */
  flex-basis: 30%; /* Adjust the width of the title container */
}

.textContainer {
  color: grey;
  flex-basis: 70%; /* Adjust the width of the text container */
}

.jobListingDate {
  margin-left: 10px;
  text-align: right;
}

.textContainer p {
  margin: 0; /* Remove default paragraph margins */
}

.spinnerContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.buttonContainer {
  display: flex;
  gap: 10px
}

.savedJobsButton {
  margin-left: 20px;
  border: #006d77;
  background-color: #006d77;
  color: #edf6f9;
}

.saveButton {
  border: none !important;
  color: #006d77 !important;
  transition: all 0.3s !important;
  margin-right: 0;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  ) !important;
}

.saveButton {
  background-color: #edf6f9 !important;
}

.createButton {
  background-color: #35acfe !important;
  color: white;
  border: none !important;
  margin-right: 20px;
}

.rejectButton {
  background-color: #eaeaea !important;
  color: black;
  border: none !important;
}

.relativePosition {
  position: relative;
}

.absoluteTopRight {
  position: absolute;
  top: 10px;
  right: 10px;
}

.titleWithSaveButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h2.p-input-icon-left {
    margin-top: 20px;
  }

  .savedJobsButton {
    margin-top: 10px;
  }

  .p-input-icon-left input {
    width: 100%;
  }

  .cardDialog {
    height: 80%;
  }

  .createButton {
    margin-bottom: 5%;
  }
}

@media (max-width: 480px) {
  .avatar {
    width: 25px;
    height: 25px;
  }

  .company-details p {
    font-size: 0.9rem; /* You can adjust this if you feel it's too small */
  }
}
