.dialogueContainer {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Vertically align the content in the center */
}

.title {
  font-size: 30px;
  color: #000000; /* This will make the title black */
  display: flex;
  margin-bottom: 10px;
  margin-right: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex: 3; /* Title takes up 2/3 of the space */
}


.subTitle {
  font-size: 20px;
  color: #000000; /* This will make the title black */
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.error {
  color: rgb(201, 15, 15);
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.dialogueText {
  padding-top: 5px;
  font-size: 15px;
}


.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.inputFields {
  width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.buttonContainer {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelRating {
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 5px;
}

.fieldRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 25px;
  }

  .subTitle {
    font-size: 15px;
  }

  .error {
    font-size: 15px;
  }

  .inputFields {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .labelRating {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .button {
    width: 90%;
  }

  .fieldRating {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
