.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.headerTitle {
  font-family: "Source Sans 3";
}

/* Grid layout for cards, making them appear in rows of up to 5 */
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px; /* Adjust for spacing between cards */
  padding: 20px;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.spinnerContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.createEventListingButton {
  margin-left: 20px;
  border: #006d77;
  background-color: #35acfe !important;
  color: #edf6f9;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cardDetails {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 95%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  border-bottom: 2px solid #e0ecee;
  margin-bottom: 15px;
  padding: 15px;
}

.cardImage {
  width: 100%;
  overflow: hidden;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.cardImage img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.cardFooter button {
  background-color: #edf6f9;
  border: none;
  border-radius: 4px;
  color: #006d77;
  padding: 8px 12px;
  font-size: 0.85em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 20px;
  margin-left: 40px;
}

.cardFooter button:hover {
  background-color: #e2947888;
  transform: scale(1.05);
}

.cardDialog {
  background-color: #edf6f9;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #edf6f9;
  width: 70vw;
  max-width: 1250px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h2.p-input-icon-left {
    margin-top: 20px;
  }

  .createJobListingButton {
    margin-top: 10px;
  }

  .p-input-icon-left input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cardRow {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}
