.container {
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    opacity: 0.6;
    cursor: pointer;
}

.reportIssue {
    font-size: 18px; /* Adjust the font size as needed */
    margin-top: 10px; /* Add some spacing between the copyright text and the link */
  }
  
  .reportIssue a {
    text-decoration: underline; /* Add an underline to indicate it's a link */
    color: #007bff; /* Change the color to a clickable blue (you can use your preferred color) */
    cursor: pointer; /* Change the cursor to a pointer to indicate interactivity */
    transition: color 0.3s; /* Add a smooth color transition on hover */
  }
  
  .reportIssue a:hover {
    color: #0056b3; /* Change the color when hovering over the link */
  }