.container {
  position: relative; /* Added relative position */
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center; /* Updated to center content */
}

.centered {
  text-align: center;
}

.reportIssue {
  position: absolute; /* Updated to absolute position */
  right: 0; /* Positioned to the right */
  font-size: 14px;
  color: black;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.tryPremium {
  position: absolute; 
  left: 0;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.premium {
  position: absolute; 
  left: 0; 
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.reportIssue:hover {
  color: #0056b3;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .centered {
      text-align: center;
      order: 1; /* Make p tag above the link */
  }

  .reportIssue {
      position: static; /* Reset the position */
      order: 2; /* Position after the p tag */
      margin-top: 10px; /* Optional: Add some space between the p tag and link */
      margin-bottom: 10px;;
  }
}