.container {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Set up a 9-column grid */
    grid-gap: 20px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.card {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cardHeader {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-family: 'Arial', sans-serif;
    justify-content: center;
}

.cardHeader h4 {
    font-size: 1.6em;
    margin: 0;
    color: #333;
    font-weight: 600;
}

.cardBody {
    font-size: 1em;
    color: #555;
}

.cardRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cardRow:last-child {
    margin-bottom: 0;
}

.cardRow span:first-child {
    font-weight: 600;
}

.cardFooter {
    margin-top: 20px;
    text-align: right;
}

.cardFooter button {
    background-color: #007BFF; /* Blue background for button */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cardFooter button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.buttonSpacing {
    margin-right: 50px;  /* Adjust the value as needed */
}

@media (max-width: 768px) { /* You can adjust this breakpoint as needed */
    
    .container {
        padding: 20px 30px;
        grid-gap: 20px;
    }

    .card {
        grid-column: span 9; /* Card takes full width */
        width: 350px; /* Remove the fixed width */
        margin-bottom: 20px; /* Reduced margin-bottom */
    }

    .cardHeader h4 {
        font-size: 1.4em; /* Slightly smaller font size */
    }

    .cardBody {
        font-size: 0.9em; /* Slightly smaller font size */
    }

    .cardFooter button {
        padding: 8px 15px; /* Reduced padding for buttons */
        font-size: 0.8em; /* Slightly smaller font size */
    }

    .buttonSpacing {
        margin-right: 50px;  /* Reduce the spacing between buttons */
    }
}