.header {
    justify-content: center;
    text-align: center;
}

.textContainer {
    margin-top: 10%;
    margin-bottom: 5%;
    justify-content: center;
    text-align: center;
}

.link {
    color: blue
}

.text {
    margin-bottom: 1%;
}

@media screen and (max-width: 768px) {
    .text {
        margin-bottom: 5%;
    }
  }