.container {
  width: 1000px;
}

.cardBody {
  font-family: 'Arial', sans-serif;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cardRow label {
  flex: 1;
  font-size: 0.8em;
  margin-right: 10px;
}

.cardRow input,
.cardRow .p-inputnumber,
.cardRow .p-calendar {
  flex: 2;
  min-width: 0;
}

.cardRow textarea,
.cardRow .p-inputtextarea {
  flex: 2;
  min-width: 0;
  width: 100%;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cardFooter button {
  background-color: #e29578;
  border: none;
  border-radius: 5px;
  color: #edf6f9;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.p-inputtext,
.p-inputnumber,
.p-calendar {
  width: 100%;
}

.p-inputnumber .p-inputnumber-input {
  width: 100%;
}

.errorMessage {
  color: red;
  font-size: 0.8em;
}
